
<div class="strib-styles ssa ssb ssc">
  <div class="hero">
    <h1>The Nonprofit 100</h1>

    <p class="lead container-sm">The 23rd annual Star Tribune list of largest nonprofits in Minnesota.</p>

    <div class="byline">
      <address>By <a rel="author" href="http://startribune.com//patrick-kennedy/10645186/">Patrick Kennedy</a></address>
      <span class="spacer"></span>
      Star Tribune
      <span class="spacer-alt"></span>
      <time pubdate datetime="2018-12-16T00:00:00">December 16, 2018</time>
    </div>

    <div class="share-placeholder">
      <!-- share -->
    </div>
  </div>

  <div class="container-md">
    <p class="summary">The Star Tribune's 23rd annual look at Minnesota's nonprofit businesses shows a sector in transition. The list is dominated by large nonprofit health care organizations but <a href="http://www.startribune.com/health-plan-competition-heats-up-as-nonprofit-insurers-take-on-for-profit-giants-in-minnesota/502800702/">a 2017 law is bringing competition from for-profit insurers</a> and new <a href="http://www.startribune.com/new-tax-on-nonprofit-salaries-means-less-money-going-the-mission/502801512/">federal tax laws on million dollar nonprofit pay packages</a> may mean less money for missions.  Big health care and education organizations make up nearly three-quarters of the list. But small social service groups like <a href="http://www.startribune.com/banyan-s-6-4-million-community-center-helps-bridge-gap-for-low-income-kids-in-south-minneapolis/502777292/">Banyan Community</a> can still make an outside impact.</p>
  </div>

  <div class="container-lg">
    {#if isBrowser}
      <div class="category-filter">
        <form>
          <div class="row">
            <div class="col col-100 col-md-66">
              <fieldset>
                <legend>Filter <span class="sr-only">company list</span></legend>

                {#each categories as f}
                  <button type="button" class="category { f.id } { categoryFilter === f.id ? 'active' : '' }" on:click="proxySet(event, { categoryFilter: f.id })">{ f.name }</button>
                {/each}
              </fieldset>
            </div>

            <div class="col col-100 col-md-33">
              <div class="ceo-sort">
                {#if (!ceoSort)}
                  <button on:click="proxySet(event, { ceoSort: true })" type="button" class="sort-ceo">Sort by CEO compensation</button>
                {:else}
                  <button on:click="proxySet(event, { ceoSort: false })" type="button" class="unsort-ceo">Sort by revenue rankings</button>
                {/if}
              </div>
            </div>
        </form>
      </div>
    {/if}

    <div class="company-list">
      {#each filteredNonProfits as company (company.coid)}
        <Company
          {...company}
          publishYear="{ publishYear }"
        />
      {/each}
    </div>

    <footer class="article-footer">
      <h1>Credits</h1>

      <ul class="credits">
        <li>Data collected by Patrick Kennedy</li>
        <li>Design and development by Alan Palazzolo, Jamie Hutt, and Billy Steve Clayton</li>
      </ul>

      <h1>Methodology</h1>

      <p>Certain nonprofits, charities and charitable trusts registered with the state must file IRS Form 990 with the Minnesota attorney general's office each year. Most of the financial information for organizations on our list was taken from their 2017 Form 990s or from consolidated audited financial statements. The Star Tribune's list includes the top officer and that person's total compensation, including salary, bonus and incentive compensation, other reportable compensation, contributions to retirement and other deferred compensation plans, and the value of nontaxable benefits.</p>

      <h1>Updates</h1>

      <p>An earlier version of this piece had an issue on iPhones/iPads where the ranking would be altered when the list was sorted.</p>
    </footer>
  </div>
</div>

<script>
  import Company from "./_company.svelte.html";
  import { cloneDeep, sortBy, filter, kebabCase, find } from "lodash";

  export default {
    components: {
      Company
    },

    oncreate() {
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    },

    computed: {
      filteredNonProfits({ nonprofits, categoryFilter, ceoSort, publishYear }) {
        let copy = nonprofits.map(cloneDeep);

        // Filter
        if (categoryFilter) {
          copy = filter(copy, c => {
            return kebabCase(c.category) === categoryFilter;
          });
        }

        // Sort
        if (ceoSort) {
          copy = sortBy(copy, c => {
            return c.ceo && c.ceo.salary ? c.ceo.salary.total || 0 : 0;
          }).reverse();
        } else {
          copy = sortBy(copy, c => {
            return c.rank;
          });
        }

        return copy;
      },

      filteredOrSorted({ categoryFilter, ceoSort }) {
        if (categoryFilter || ceoSort) {
          return true;
        }
      }
    },

    methods: {
      proxySet(event, toSet) {
        if (event && event.preventDefault) {
          event.preventDefault();
        }

        if (toSet) {
          this.set(toSet);
        }
      }
    },

    data() {
      return {
        isBrowser: typeof window !== "undefined",
        filter: undefined,
        categories: [
          { id: undefined, name: "All" },
          { id: "social-services", name: "Social services" },
          { id: "healthcare", name: "Health care" },
          { id: "arts", name: "Arts" },
          { id: "education", name: "Education" },
          { id: "other", name: "Other" }
        ]
      };
    }
  };
</script>
