/**
 * Each company styles
 */

.company {
  @include font-styles("benton-sans");

  padding-bottom: 2em;
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 2em;

  p {
    @include font-styles("benton-sans");
  }

  p.rank {
    @include font-styles("popular-light");
    font-style: normal;
    font-weight: normal;
    font-size: 4em;
    text-align: center;
    margin: 0;
    padding: 0.25em;
    border-radius: 0.1em;
    color: #444444;

    @media only screen and (max-width: map-get($breakpoints, "sm")) {
      font-size: 2.5em;
      font-weight: bold;
    }
  }

  p.footnotes {
    font-size: 0.85em;
    padding-top: 1em;
  }

  .company-heading {
    h3 {
      padding-top: 0;
    }

    p {
      margin-bottom: 0.5em;
    }
  }

  .increase,
  .decrease {
    display: inline-block;
    padding: 0 0.1em;
  }

  .increase {
    color: map-get($theme, "green-dark");

    &::after {
      content: "↑";
    }
  }

  .decrease {
    color: map-get($theme, "red-dark");

    &::after {
      content: "↓";
    }
  }

  .company-meta {
    font-size: 0.85em;
    padding-top: 1em;

    .spacer {
      display: inline-block;
      padding: 0 1em;
      color: map-get($grays, "light");

      &::after {
        content: "|";
      }
    }
  }

  .caret {
    display: inline-block;
    font-size: 0.85em;
    vertical-align: top;
    transition: transform 0.3s;

    &.expanded {
      transform: rotate(-90deg);
    }
  }

  .financial-data,
  .leadership-data {
    line-height: 1.5em;
    font-size: 0.85em;

    span {
      font-size: 1.5em;
    }

    &.revenue span,
    &.compensation span {
      font-size: 1.75em;
      font-weight: bold;
    }

    &.compensation-na span {
      font-weight: normal;
    }

    &.leader-name,
    &.revenue {
      margin-bottom: 1em;
    }
  }

  .ceo-headshot,
  .logo {
    text-align: right;

    img {
      vertical-align: middle;
      display: inline-block;
      max-height: 6em;
      max-width: 100%;
    }
  }

  &:last-child {
    border-bottom: none;
  }
}
